uv.lock
outputs/
__pycache__/
.venv
*.pt
*.egg-info
hydra_dir.txt
model.safetensors

configs/data/*
!configs/data/electricity.yaml

configs/model/*
!configs/model/PatchTST.yaml
!configs/model/DLinear.yaml

configs/normalization/*
!configs/normalization/cmIN.yaml
!configs/normalization/instance.yaml

script_outputs/
temp_scripts/

xpc*/